body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow: hidden;
}

.scroll-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    /*scrollbar-width: none;*/
}

/*.scroll-wrapper::-webkit-scrollbar {
        display: none;
    }*/

.timeline {
    display: flex;
    position: relative;
    /* El ancho se calcula automáticamente en JS */
}

    /* Línea conectora horizontal */
    .timeline::before {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        height: 4px;
        background: rgba(255, 255, 255, 0.1);
        transform: translateY(-50%);
        z-index: 0;
    }

.milestone {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
/* Contenedor de texto: Ahora usamos Flex para separar título de descripción */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh; /* Ocupa la mitad de la pantalla para dejar espacio al punto */
    width: 80vw;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #38bdf8;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #38bdf8;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h2 {
    position: absolute;
    font-size: 3.5vw;
    top: 1%;
    text-align: center;
}

.ano {
    position: absolute;
    font-size: 2vw;
    margin-bottom: 100px;
    top: 20%;
    text-align: center;
}

.content p {
    position: absolute;
    font-size: 1.2rem;
    color: #94a3b8;
    max-width: 80%;
    text-align: left;
    top: 35%;
}

    .content p.p_centered {
        position: absolute;
        font-size: 1.2rem;
        color: #94a3b8;
        max-width: 80%;
        text-align: center;
        top: 30%;
    }


/* Contenedor del mosaico */
.mosaico {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-gap: 10px;
    width: 70%; /* Ancho del mosaico */
    margin: 20px 0; /* Espacio entre el año y el texto */
    top: 70%;
}

    .mosaico img {
        width: 100%;
        height: 100px;
        object-fit: contain; /* Para que las fotos no se deformen */
        border-radius: 8px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        transition: transform 0.3s ease;
    }

        .mosaico img:hover {
            transform: scale(1.1);
            z-index: 10;
            border-color: #38bdf8;
        }